<h1> Welcome to Davids Property Management </h1>
<br><br>

<h2> Search for Properties </h2>



<div id="onimage">

<br><br><br><br><br><br><br><br>

<div id="centerdiv">
<form>
<p align="center">Search by Suburb</p>
<input type="search" name="searchbar" placeholder="Suburb">
</form>
</div>

<br>


<table align="center" width="380">
<tr>
<td>
<form>
Rent Per Week<br>
<select name="Rent">
	<option value="Any" hidden>Rent Value</option>
	<option value="sml">$0-$150</option>
	<option value="mid">$150-$300</option>
	<option value="lrg">$400</option>
	<option value="Any">Any</option>
</form>
</td>

<td>
<form>
Type of Dwelling<br>
<select name="Dwelling">
	<option value="Any" hidden>Dwelling Type</option>
	<option value="sml">House</option>
	<option value="mid">Appartment</option>
	<option value="Any">Any</option>
</form>
</td>

<td>
<form>
Furnished<br>
<select name="Furnished">
	<option value="Any" hidden>Furnished</option>
	<option value="yes">Yes</option>
	<option value="no">No</option>
	<option value="Any">Any</option>
</form>
</td>

</tr>

</table>

<br><br>

<div id="centerdiv">
<a href="<%= results_pages_path %>">
<input type="submit" value="Search">
</a>
</div>
<br><br><br><br><br><br><br>
