<h1>About DPM</h1>
<body>
We pride ourselves in being the best property managment in Brisbane. Our motto
is "If there is a property, we can manage it".<br><br>

Hi, I'm David, and when I was 12 years old I dreamt of opening my own property
management company. When I was 15, I made this true, being the youngest graduate
of any business school in the country. Here at DPM, we like to make history.
We hope you join us for the ride.

<br><br>
<h2>Contact us</h2>
David's Email: david@david.com<br>
David's Phone: 04daviddavid
