<h1>My Account</h1>
<body>

This is where the dynamically created links will be generated in order to
make each account different.

<br><br>

Staff:<br>
- Properties I manage<br>
- Inspections upcoming<br>
- Update Personal Information<br>
<br><br>
David:<br>
- Staff details<br>
- Tenant details<br>
- Property Owner details<br>
<br><br>
Tenant:<br>
- My Contract<br>
- Update Personal Information<br>
<br><br>
Property Owner:<br>
- Properties Currently on DPM<br>
- Update Property Information<br>
- Update Personal Information<br>
