<h1>Dwelling</h1>
<body>

This is the page where the specific information about a selected property
will be dynamically placed

<br><br>
- Price per week<br>
- Bedrooms<br>
- Bathrooms<br>
- Car Spaces<br>
- Address<br>
- Furnished<br>
- Photo (maybe)<br>
- Book times for an inspection (Domain.com.au does this well)<br>
