// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#onimage{
width:1226px;
height:500px;
background: url("search_bg.jpg") 50% 0 no-repeat;
background-size:cover;
}

#centerdiv{
    text-align: center;
}
